<h1><%= @article.title %></h1>
<div class="post_commentbox"> 
<a href="#">
<i class="fa fa-user"></i>

<%= @article.user.full_name unless @article.user.nil? %></a>
<span>
	<i class="fa fa-calendar"></i>
	<%= @article.created_at.strftime("%m/%d/%Y") %>
</span> 
<a href="#"><i class="fa fa-tags"></i>
	<% tag_output = [] %>
	<% @article.tags.each do |tag| %>
		<% tag_output << (link_to "#{tag.name} |", tag_path(tag)) %>
	<% end %>
	<%= tag_output.join.html_safe %>
</a>
</div>
<div class="single_page_content">
  <%= @article.content.html_safe %><br><br>
  <%= button_to 'Back', articles_path, method: :get, class: "btn btn-theme", style: "float:left;" %>
  <% if user_signed_in? %>
  	<%= button_to 'Edit', edit_article_path(@article), method: :get, class: "btn btn-theme",
  		style: "float:left; margin-left: 10px;" %>
  <% end %>
</div>

<div class="social_link">
  <!-- AddToAny BEGIN -->
  <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
  <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
  <a class="a2a_button_facebook"></a>
  <a class="a2a_button_twitter"></a>
  <a class="a2a_button_reddit"></a>
  <a class="a2a_button_copy_link"></a>
  </div>
  <script async src="https://static.addtoany.com/menu/page.js"></script>
  <!-- AddToAny END -->
</div>
