<!DOCTYPE html>
<html>
<head>
<title>MyAm News</title>

<%= csrf_meta_tags %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
<div class="container">
  <header id="header">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="header_top">
          <div class="header_top_left">
            <ul class="top_nav">
              <li><%= link_to "Home", root_path %></li>
              <li><a href="#">About</a></li>
              <% if user_signed_in? %>
                <li><a>Welcome <%= current_user.full_name %></a></li>
                <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
                <li><%= link_to 'New Article', new_article_path %></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              <% end %>
            </ul>
          </div>
          <div class="header_top_right">
            <p><%= Time.now.strftime "%A %B %d, %Y" %></p>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="header_bottom">
          <div class="logo_area"><%= link_to image_tag("logo"), root_path, class: "logo" %></div>
          <div class="ad_banner"><a href="#"></a></div>
        </div>
      </div>
    </div>
  </header>
  <section id="navArea">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav main_nav">
          <li class="active"><a href="/"><span class="fa fa-home desktop-home"></span><span class="mobile-show">Home</span></a></li>
          <li><a href="#">Technology</a></li>
          <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Mobile</a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Android</a></li>
              <li><a href="#">Samsung</a></li>
              <li><a href="#">Nokia</a></li>
              <li><a href="#">Walton Mobile</a></li>
              <li><a href="#">Sympony</a></li>
            </ul>
          </li>
          <li><a href="#">Laptops</a></li>
          <li><a href="#">Tablets</a></li>
          <li><a href="pages/contact.html">Contact Us</a></li>
        </ul>
      </div>
    </nav>
  </section>
  <section id="newsSection">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="latest_newsarea"> <span>Live News</span>
          <ul id="ticker01" class="news_sticker">
            <% #news ticker, 8ish items %>
            <% @feed.each do |article| %>
              <li><%= link_to article.title, article_path(article) %></li>
            <% end %>
          </ul>
          <div class="social_area">
            <ul class="social_nav">
              <li class="facebook"><a href="#"></a></li>
              <li class="twitter"><a href="#"></a></li>
              <li class="flickr"><a href="#"></a></li>
              <li class="pinterest"><a href="#"></a></li>
              <li class="googleplus"><a href="#"></a></li>
              <li class="vimeo"><a href="#"></a></li>
              <li class="youtube"><a href="#"></a></li>
              <li class="mail"><a href="#"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="sliderSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <%= yield %>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="latest_post">
            <h2><span>Popular</span></h2>
            <ul class="spost_nav">
              <% @feed.first(5).each do |article| %>
                  <li>
                    <div class="media"> 
                    <%= link_to image_tag(article.thumbnail, class: "crop_center"), article_path(article), class: "media-left" %>
                      <div class="media-body">
                      <%= link_to article.title, article_path(article), class: "catg_title" %></a> </div>
                    </div>
                  </li>
              <% end %>
            </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_post_content">
            <h2><span>Latest</span></h2>
            <div class="single_post_content_left">
              <ul class="business_catgnav">
                <li>
                  <figure class="bsbig_fig"> 
                  <%= link_to "#{image_tag(@featured.last.thumbnail, class:'crop_center')}<span class='overlay'></span>".html_safe, article_path(@featured.last), class: "featured_img" %>
                    <figcaption> 
                      <%= link_to @featured.last.title, article_path(@featured.last) %> 
                    </figcaption>
                    
                    <p><%= @featured.last.description %></p>
                  </figure>
                </li>
              </ul>
            </div>
            <div class="single_post_content_right">
              <ul class="spost_nav">
                <% @feed.last(4).each do |article| %>
                  <li>
                    <div class="media"> 
                    <%= link_to image_tag(article.thumbnail, class: "crop_center"), article_path(article), class: "media-left" %>
                      <div class="media-body">
                      <%= link_to article.title, article_path(article), class: "catg_title" %></a> </div>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <div class="single_sidebar">
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a aria-controls="home" role="tab" data-toggle="tab">Tags</a></li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="category">
                <ul>
                 <% #get the tags of last 10 articles? %>
                  <li class="cat-item"><a href="#">Business</a></li>
                </ul>
              </div>
          </div>
          <div class="single_sidebar">
            <h2><span>Advertisment</span></h2>
            <a class="sideAdd" href="#"><%= image_tag "ad_placeholder" %></a> </div>
        </aside>
      </div>
    </div>
  </section>
  <footer id="footer">
    <div class="footer_top">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 fadein">
          <div class="footer_widget">
            <h2>MyAM News</h2>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 fadein">
          <div class="footer_widget">
            <h2>Tags</h2>
            <ul class="tag_nav">
            <% #Tags object needs to go here %>
              <li><a href="#">Business</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 fadein">
          <div class="footer_widget">
            <h2>Contact</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_bottom">
      <p class="copyright">Copyright <%= Time.now.strftime "%Y" %></p>
    </div>
  </footer>
</div>
</body>
</html>